<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<h1>Create Order</h1>
<form th:action="@{/createOrder}" method="post" th:object="${orderDto}">



    <label for="userId">User:</label>
    <select name="userId" id="userId">
        <option th:each="user : ${users}" th:value="${user.id}" th:text="${user.memberName}"></option>
    </select><br>

    <label for="productId">Product:</label>
    <select name="productId" id="productId">
        <option th:each="product : ${products}" th:value="${product.id}" th:text="${product.productName}"></option>
    </select><br>

    <label for="quantity">Quantity:</label>
    <input type="number" name="quantity" id="quantity" min="1" value="1"><br>

    <label for="request">Request:</label>
    <textarea name="request" id="request"></textarea><br>

    <button type="submit">Create Order</button>
</form>
</body>
</html>